[Unit]
Description=Mount bpffs for VNet dataplane
After=local-fs.target
Before=vnet-dataplane-agent.service vnet-dataplane-guest-endpoint.service
ConditionPathIsMountPoint=!/sys/fs/bpf

[Service]
Type=oneshot
ExecStart=/usr/bin/mount -t bpf -o mode=0750 bpf /sys/fs/bpf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
