VNET_GUEST_AGENT=/opt/vnet-dataplane/linux_accel/agent/openstack_guest_endpoint_agent.py
VNET_GUEST_CONFIG=/etc/vnet-dataplane-guest/endpoint.json
VNET_GUEST_DNS_MONITOR=/opt/vnet-dataplane/linux_accel/build/dns_monitor
VNET_GUEST_DNS_SERVER_BPF=/opt/vnet-dataplane/linux_accel/build/dns_xdp_monitor.bpf.o
VNET_GUEST_GRPC_FAST_CACHE=/opt/vnet-dataplane/linux_accel/build/grpc_fast_cache
VNET_GUEST_CACHE_POLICY_TXN=/opt/vnet-dataplane/linux_accel/build/cache_policy_txn
VNET_GUEST_BPFTOOL=/usr/sbin/bpftool
VNET_GUEST_IP=/usr/sbin/ip
VNET_GUEST_INTERVAL=2
