OS_AUTH_URL=REPLACE_AUTH_URL
OS_USERNAME=REPLACE_USERNAME
OS_PASSWORD=REPLACE_PASSWORD
OS_PROJECT_NAME=REPLACE_PROJECT
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
OS_IDENTITY_API_VERSION=3
